<div class="container">
  <%= bootstrap_form_for(@merchant) do |form| %>
    <% if merchant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

        <ul>
          <% merchant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= form.text_field :name, label:  "Merchant Name"  %>
      <%= form.select :vertical, [["Salon", "salon"], ["Business", "business"], ["Barbershop", "barbershop"], ["Spa", "spa"], ["Pet", "pet"], ["Custom", "custom"]] %>
      <%= form.text_field :sentence, label:  "Marketing Sentence - Optional"  %>
      <%= form.text_area :booking_widget, label:  "Booking Widget HTML Code"  %>
      <%= form.text_area :waitlist_widget, label:  "Walk-in Waitlist Widget HTML Code"  %>
      <%= form.text_area :class_widget, label:  "Classes/Events Widget HTML Code"  %>
      <%= form.text_area :logo, label:  "Logo Link" %>
      <%= form.number_field :mid, label:  "MID - Optional"  %>
      <%= form.text_area :image_url, label:  "Link to Image for Custom Template - Optional" %>

    <div class="actions">
      <button type="submit" class="btn btn-primary">Save Merchant Profile</button>
      <p></p>
    </div>
  <% end %>
</div>
