<p></p>
<p id="notice"><%= notice %></p>
<div class="container">

<h1>Merchants</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mid</th>
      <th>Homepage</th>
      <th>Booking Widget</th>
      <th>Waitlist Widget</th>
      <th>Classes Widget</th>
      <th colspan="3"> Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><h6><%= merchant.name %></h6></td>
        <td><h6><%= merchant.mid %></h6></td>
        <td><a href="/merchants/<%= merchant.slug %>/<%= merchant.vertical %>" class="btn btn-outline-info"><%= merchant.vertical.titleize %></a></td>
        <td><h5>
          <% if merchant.booking_widget? %>
          <span class="badge rounded-pill bg-success">Yes</span>
          <% else %>
          <span class="badge rounded-pill bg-danger">No</span>
          <% end %>
        </h5></td>        <td><h5>
          <% if merchant.waitlist_widget? %>
          <span class="badge rounded-pill bg-success">Yes</span>
          <% else %>
          <span class="badge rounded-pill bg-danger">No</span>
          <% end %>
        </h5></td>
        <td><h5>
          <% if merchant.class_widget? %>
          <span class="badge rounded-pill bg-success">Yes</span>
          <% else %>
          <span class="badge rounded-pill bg-danger">No</span>
          <% end %>
        </h5></td>

        <td><div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to 'Profile', merchant, class: "btn btn-outline-success " %>
        <%= link_to 'Edit', edit_merchant_path(merchant), class: "btn btn-outline-warning" %>
        <%= link_to 'Delete', merchant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Merchant', new_merchant_path, class: "btn btn-outline-primary"  %>
</div>
<p></p>
