<p></p>
<p id="notice"><%= notice %></p>
<div class="container">

<h2>
  <%= @merchant.name %>
</h2>

<h5>
  <strong>Links</strong>
  <br>
</h5>
  <%= link_to "Salon", {:controller => "merchants", :action => "salon"}%>
  <br>
  <%= link_to "Laptop", {:controller => "merchants", :action => "laptop"}%>

<p></p>
<p>
  <strong>Booking Widget Button</strong>
  <%= @merchant.booking_widget.html_safe %>
</p>

<p>
  <strong>Waitlist Widget Button</strong>
  <%= @merchant.waitlist_widget.html_safe %>
</p>

<p>
  <strong>Class Widget Button</strong>
  <%= @merchant.class_widget.html_safe %>
</p>
<!--
<p>
  <strong>Logo:</strong>
  <%= @merchant.logo %>
</p> -->

<p>
  <strong>MID:</strong>
  <%= @merchant.mid %>
</p>
<!--

<p>
  <strong>Image url:</strong>
  <%= @merchant.image_url %>
</p> -->

<%= link_to 'Edit', edit_merchant_path(@merchant), class: "btn btn-outline-primary" %>
<%= link_to 'Back', merchants_path, class: "btn btn-outline-primary" %>
</div>
<p></p>
