<p></p>
<p id="notice"><%= notice %></p>
<div class="container">

<h2>
 <img src="<%= @merchant.logo.html_safe %>" class="w3-image w3-round" style="width:5%;margin:auto;">  <%= @merchant.name %>
</h2>

<h5>
  <strong>Links</strong>
  <br>
  <%= link_to "Go to #{@merchant.vertical.titleize} Home", {:controller => "merchants", :action => "#{@merchant.vertical}"}%>
  <br>
  <%= link_to "Class Page", {:controller => "merchants", :action => "classes"}%>
  <br>
  <%= link_to "Events Page", {:controller => "merchants", :action => "events"}%>
  <br>
  <%= link_to "Check-In Page", {:controller => "merchants", :action => "waitlist"}%>
</h5>
<p></p>
<div class="col-6">
<table class="table table-bordered table-sm ">
  <thead>
    <tr>
      <th><strong>Booking Widget</strong></th>
      <th><strong>Wiatlist Widget</strong></th>
      <th><strong>Class Widget</strong></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @merchant.booking_widget.html_safe %></td>
        <td><%= @merchant.waitlist_widget.html_safe %></td>
        <td><%= @merchant.class_widget.html_safe %></td>
  </tbody>
</table>
</div>

<p>
  <strong><h6>Marketing Sentence</h6></strong>
  <%= @merchant.sentence %>
</p>

<p>
  <strong><h6>MID:</h6></strong>
  <%= @merchant.mid %>
</p>

<p>
  <strong><h6>Custom Page Background Image Preview:</h6></strong>
  <img src="<%= @merchant.image_url %>" height="125" >
</p>

<%= link_to 'Edit Merchant Profile', edit_merchant_path(@merchant), class: "btn btn-outline-primary" %>
<%= link_to 'Back to Merchant List', merchants_path, class: "btn btn-outline-primary" %>
</div>
<p></p>
