<p></p>
<p id="notice"><%= notice %></p>
<div class="container">

<h2>
 <img src="<%= @merchant.logo.html_safe %>" class="w3-image w3-round" style="width:5%;margin:auto;">  <%= @merchant.name %>
</h2>

<h5>
  <strong>Links</strong>
  <br>
</h5>


  <%= link_to "#{@merchant.vertical.titleize} Home", {:controller => "merchants", :action => "#{@merchant.vertical}"}%>
  <br>
  <%= link_to "Classes", {:controller => "merchants", :action => "classes"}%>
  <br>
  <%= link_to "Events", {:controller => "merchants", :action => "events"}%>
  <br>
  <%= link_to "Check-In", {:controller => "merchants", :action => "waitlist"}%>

<p></p>
<p>
  <strong>Booking Widget Button</strong>
  <%= @merchant.booking_widget.html_safe %>
</p>

<p>
  <strong>Waitlist Widget Button</strong>
  <%= @merchant.waitlist_widget.html_safe %>
</p>

<p>
  <strong>Class Widget Button</strong>
  <%= @merchant.class_widget.html_safe %>
</p>

<p>
  <strong>Marketing Sentence</strong>
  <%= @merchant.sentence %>
</p>
<!--
<p>
  <strong>Logo:</strong>
  <%= @merchant.logo %>
</p> -->

<p>
  <strong>MID:</strong>
  <%= @merchant.mid %>
</p>
<!--

<p>
  <strong>Image url:</strong>
  <%= @merchant.image_url %>
</p> -->

<%= link_to 'Edit', edit_merchant_path(@merchant), class: "btn btn-outline-primary" %>
<%= link_to 'Back', merchants_path, class: "btn btn-outline-primary" %>
</div>
<p></p>
